.header{
    width: 100%;
    height: 950px;
    background-image: url('../Img/banner3.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 1);
}
.social-network{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    position: sticky;
    top: 0;
}
.cercle{
    border-radius: 60%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 20px;
}
.second-cercle{
    border-radius: 60%;
    width: 182px;
    height: 182px;
}
.nav-bar{
    margin-left: 10%;
}
.header .title{
    margin-left: 10%;
}
.min-box{
    margin: 10px;
}
.img-sect3{
    background-color: rgba(255, 255, 255, 0.2);
}
.box{
    margin-bottom: 15px;
    border-radius: 5%;
    height: 575px;
    padding: 10px;
    width: 15%;
}
.section1{
    width: 100%;
    height: 650px;
}
section{
    width: 100%;
    height: 1000px;
}
footer{
    width: 100%;
    height: 250px;
}
.section4 img{
    width: 45%;
    height: 80%;
}